@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.blog-section {
    margin: 50px 20%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;

}

.blog-section img {
    background-size: cover;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}

.blog-section p {
    margin: 0 0 26px;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 2rem;
}

.blog-section ol {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 2rem;
}

.blog-section li{
    margin-top: 2rem;
}

@media screen and (max-width:768px) {
    .blog-section {
        margin: 50px 2%;    
    }
}