@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.form-container {
    background: url('/assets/myspace-assets/bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form {
    width: 100%;
    text-align: center;
    background-color: #ffffff49;
    backdrop-filter: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    backdrop-filter: blur(3000px);
}

#login-form p {
    font-size: 1.5rem;
    font-weight: 500;
}

input[type="password"],
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    font-size: 1.2rem;
}

input[type="text"] {
    color: #285cf8;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



/* Wallpaper Section starts */
.wallpaper {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
    margin-top: 120px;
}

.wallpaper-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Quote Section */
.quote-section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-section h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
}

.quote-section h1:hover {
    transform: scale(1.4);
}

.quote-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "Lato", sans-serif;
    min-height: 500px;
}

.quote-box-reverse {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    font-family: "Lato", sans-serif;
    min-height: 500px;
}

.quote-content {
    width: 60%;
    text-align: left;
}

.quote-content p {
    padding: 20px 0px;
    font-size: larger;
    color: #868686;
    line-height: 2rem;

}

.sayer1 {
    width: 30%;
    transition: .5s ease-in-out;
    border-radius: 50px;
}

.sayer1 img {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border: 10px solid #ff9500;
    border-radius: 50px;
    border-style: double;
}

.sayer1:hover {
    transform: translateY(-2rem);
    box-shadow: 0px 0px 23px 2px #ff9500;
}

.sayer2 {
    width: 30%;
    transition: .5s ease-in-out;
    border-radius: 50px;
}

.sayer2 img {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border: 10px solid #57687d;
    border-radius: 50px;
    border-style: double;
}

.sayer2:hover {
    transform: translateY(-2rem);
    box-shadow: 0px 0px 23px 2px #57687d;
}


.speaker {
    font-style: italic;
    text-align: right;
}

/* Hobby Section */
.hobby {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    margin: 0 auto;
}

.hobby h1 {
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
}

.hobby h1:hover {
    transform: scale(1.4);
}

.hobby ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hobby ul li {
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    border: solid #007bff;
    transition: 0.3s ease-in-out;
}

.hobby ul li:hover {
    transform: scale(0.8);
    cursor: pointer;
}

/* Music */

.music h1 {
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
    text-align: center;
}

.music h1:hover {
    transform: scale(1.4);
}

/* Sketches */
.sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16vh;
}



.sketch h1 {
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
}

.sketch h1:hover {
    transform: scale(1.4);
}

.sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sketch-container img {
    width: 28%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 24px 2px rgb(132, 132, 132);
    cursor: pointer;
}

/* Wallpaper */

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts h1 {
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
}

.posts h1:hover {
    transform: scale(1.4);
}

.wallpaper-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wallpaper-container img {
    margin: 4px;
    width: 28%;
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px #777;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
    height: 100%;
    filter: blur(5px);
}

.wallpaper-container img:hover {
    transform: scale(.9);
    filter: blur(0);
}

/* On Click Pop out Image */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1000px);
}

.close-button {
    color: white;
    position: absolute;
    color: #ffffff;
    z-index: 1000;
    top: 92px;
    right: 192px;
    font-size: 3rem;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.close-button:hover {
    font-weight: 600;
    transform: rotate(90deg);
}

.modal-content {
    margin: 5% auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 100px;
}


/* CSS for Go to Top Button Starts */
#goToTopBtn {
    display: none;
    /* Initially hide the button */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    /* Make sure it's above other content */
    background-color: #007bff;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2rem;
}

#goToTopBtn:hover {
    background-color: #007bff;
    /* Button background color on hover */
}

#goToTopBtn span {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 58px;
    height: 58px;
    z-index: -4;
    background: inherit;
    border-radius: inherit;
    opacity: 0.8;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * (var(--i)));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* CSS for Go to Top Button Ends */


/* Mobile View  */
@media screen and (max-width:768px) {
    * {
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #login-form {
        width: 90%;
        top: 150px;
    }

    .myspace-section p{
        text-align: center;
    }


    .quote-box,
    .quote-box-reverse {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        font-family: "Lato", sans-serif;
        min-height: 500px;
    }

    .quote-content {
        width: 100%;
        text-align: left;
    }
    
    .quote-content p {
        padding: 20px 0px;
        font-size:medium;
        color: #868686;
        line-height: 2rem;
    
    }

    .sayer1,
    .sayer2 {
        width: 100%;
    }

    /*Sketch*/
    .sketch-container img {
        width: 90%;
    }

    /* Wallpaper Mobile CSS */
    .wallpaper-container img {
       width: 100%;

    }



}