@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#login-form{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

input[type="password"],
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Wallpaper Section starts */
.wallpaper {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
    margin-top: 120px;
}

.wallpaper-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Quote Section */
.quote-section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-section h1{
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
    transition: 1s ease-in-out;
}

.quote-section h1:hover{
    transform: scale(1.4);
}

.quote-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-family: "Lato", sans-serif;
    min-height: 500px;
}

.quote-box p{
    padding: 20px 0px;
    font-size: larger;
    color: #868686;
    line-height: 2rem;
}

.quote-box hr{
    width: 400px;
    height: 2px;
}

.speaker{
    font-style: italic;
}

/* Hobby Section */
.hobby{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    width: 50%;
    margin: 0 auto;
}

.hobby h1{
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 40px 0px;
}

.hobby ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hobby ul li{
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    border: solid #007bff;
    transition: 0.3s ease-in-out;
}

.hobby ul li:hover{
    transform: scale(0.8);
    cursor: pointer;
}

/* Wallpaper */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posts img {
    width: 40%;
    margin: 1%;
    cursor: pointer;
    box-shadow: 0px 0px 40px 1px #777;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

.posts img:hover{
    transform: scale(.9);
}

/* On Click Pop out Image */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: 5% auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


/* CSS for Go to Top Button Starts */
#goToTopBtn {
    display: none;
    /* Initially hide the button */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    /* Make sure it's above other content */
    background-color: #007bff;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2rem;
}

#goToTopBtn:hover {
    background-color: #007bff;
    /* Button background color on hover */
}

#goToTopBtn span {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 58px;
    height: 58px;
    z-index: -4;
    background: inherit;
    border-radius: inherit;
    opacity: 0.8;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * (var(--i)));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* CSS for Go to Top Button Ends */


/* Mobile View  */
@media screen and (max-width:768px) {
    * {
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #login-form{
        width: 90%;
    }

    /* Wallpaper Mobile CSS */
    .posts img {
        width: 100%;


    }
    
    .book-box {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .book img {
        margin: 41px;
        width: 100%;
    }


}