@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    scroll-behavior: smooth;
}


/* Blog Section starts */
.blog {
    letter-spacing: 3px;
    margin: 20px;
    margin-top: 150px;
    height: auto;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
}

.blog-section {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.blog-section img {
    background-size: cover;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    border-radius: 18px;
}

.blog-section h3 {
    margin-top: 2rem;
}

.blog-section h4 {
    margin-top: 2rem;
}

.blog-section p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    letter-spacing: normal;
    line-height: 2rem;
}

.blog-section ol {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 2rem;
}

.blog-section li {
    margin-top: 2rem;
}

.blog-section blockquote {
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border: 1px solid rgb(229, 229, 229);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b20;
    border-radius: 20px;
}

.blog-section blockquote::selection{
    background-color: rgb(240, 240, 240);
    color: black;
}

#reading-time {
    color: grey;
    letter-spacing: normal;
}


.share-buttons {
    margin-top: 20px;
    text-align: center;
}

.share-buttons h3 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: 300;
    color: rgb(202, 202, 202);
}

.share-buttons h3::selection{
    background-color: #191b20;
}

.share-buttons .share-btn {
    margin: 5px;
    padding: 10px 15px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.share-buttons .facebook {
    /* background-color: #3b5998; */
    color: #191b20;
}

.share-buttons .twitter {
    color: #191b20;
    /* background-color: #1da1f2; */
}

.share-buttons .copy-link {
    color: #191b20;
    background-color: white;
    border: none;
    cursor: pointer;
}

.share-buttons .share-btn:hover {
    opacity: 0.9;
    color: #285cf8;
}


@media screen and (max-width:768px) {
    .blog-section {
        margin: 50px 2%;
    }
}