@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
}

/* Blog Section starts */
.blog {
    margin: 20px;
    margin-top: 150px;
    padding: 0 350px;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
}

.box-name h2 {
    font-size: 3rem;
    font-weight: 250;
}

.blog-section {
    margin: 0 auto;
    font-weight: 250;
}

.blog-section img {
    background-size: cover;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    border-radius: 18px;
}

.blog-section h2, .blog-section h3, .blog-section h4 {
    margin-top: 2rem;
    font-weight: 250;
}

.blog-section p,
.blog-section ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    letter-spacing: normal;
    line-height: 2rem;
    color: #171717;
}

.blog-section ol {
    font-size: 1rem;
}

.blog-section blockquote {
    font-family: monospace;
    background-color: #fff;
    font-size: 1.2rem;
    border: 1px solid #e5e5e5;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #191b20;
    border-radius: 20px;
}

.blog-section blockquote::selection {
    background-color: #f0f0f0;
    color: black;
}

/* article details */
.article-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.article-details img{
    width: 10%;
    border-radius: 50%;
    border: solid #285cf8;
}

.article-sub-details{
    margin-right: 10px;
}

.article-details p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#reading-time {
    color: grey;
}

.share-buttons {
    margin-top: 20px;
    text-align: center;
}

.share-buttons h3 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: 300;
    color: #cacaca;
}

.share-buttons h3::selection {
    background-color: #191b20;
}

.share-buttons .share-btn {
    margin: 5px;
    padding: 10px 15px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #191b20;
}

.share-buttons .facebook,
.share-buttons .twitter {
    color: #191b20;
}

.share-buttons .copy-link {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #191b20;
}

.share-buttons .share-btn:hover {
    opacity: 0.9;
    color: #285cf8;
}

@media screen and (max-width: 768px) {

    .blog {
        margin: 20px;
        margin-top: 150px;
        padding: 0;
    }

    .blog-section {
        margin: 50px 2%;
    }
}
