.blog-hero{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-hero img{
    width: 50%;
}

 /* General card styling */
 .blogcard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #c6d8ff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.blogcard:hover {
    transform: translateY(-5px);
}

.blogcard img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.blog-content {
    width: 55%;
    padding-right: 20px;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.blog-description {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.blog-date {
    font-size: 14px;
    color: #888;
}

/* Styling for the large number */
.blogcard::before {
    content: attr(data-number); /* Use the 'data-number' attribute for the blog number */
    position: absolute;
    bottom: 10px;
    /* right: 15px; */
    left: 15px;
    font-size: 120px;
    font-weight: bold;
    /* color: rgba(125, 125, 125, 0.721); Semi-transparent color */
    color: #6897fa;
    z-index: 0; /* Make sure it's below the content */
}

/* Ensure content appears above the number */
.blog-content {
    position: relative;
    z-index: 1;
}

@media screen and (max-width:730px){
    .blogcard img {
        width: 100%;
    }

    .blogcard{
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-content {
        width: 100%;
        padding-right: 20px;
    }
    .blogcard::before {
        content: attr(data-number); /* Use the 'data-number' attribute for the blog number */
        position: absolute;
        /* bottom: 10px; */
        top: 10px;
        /* right: 15px; */
        left: 20px;
        font-size: 50px;
        font-weight: bold;
        /* color: rgba(125, 125, 125, 0.721); Semi-transparent color */
        color: #6896fac6;
        z-index: 0; /* Make sure it's below the content */
    }

    .blog-hero img{
        width: 100%;
    }
}