*{
    scroll-behavior: smooth;
}

/* Home Page CSS starts from here */
/* Home Section starts */
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.info {
    width: 35%;
    text-align: left;
}

.info p {
    font-size: 36px;
    margin: 0px;
}

.info .color {
    color: #285cf8;
}

.info #element {
    cursor: pointer;
    font-size: 36px;
    margin: 0px;
}

.typed-cursor {
    font-size: 36px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.button-box {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    /* flex-direction: column; */
    width: auto;
}

.button-box .button{
    margin: 20px;
}


.info a {
    font-size: 20px;
    text-decoration: none;
    padding: 16px;
    border-radius: 18px;
    color: black;
    transition: 1s ease-in-out;
    background-color: #285cf8;
    color: white;
}

.info a:hover {

    background-color: white;
    box-shadow: 0px 0px 20px 0px #285cf8;
    color: #285cf8;
}

.info .button {
    margin-top: 20px;
}

.home .hero {
    width: 50%;
}

.home .hero img {
    width: 500px;
    filter: drop-shadow(2px 2px 20px #a0bdff);
}


/* Home Section ends */

/* About Section starts */
.about {
    letter-spacing: 3px;
    margin: 20px;
    min-height: 500px;
    min-width: 80%;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
}

.box-name i{
    font-size: 2.4rem;
}

.box-name h2 {
    position: relative;
}

.box-name h2::after {
    content: "";
    position: absolute;
    background-color: #285cf8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.box-name h2:hover::after {
    width: 100%;
}

.about-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-section .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .avatar img {
    width: 250px;
    border-radius: 50%;
    filter: grayscale(1);
    transition: 1s ease-in-out;
    margin: 20px;
    border: 4px solid transparent;
    box-shadow: 0px 0px 20px 0px #285cf8;
}

.about-section .avatar img:hover {
    filter: none;
    cursor: pointer;
    border: 4px solid #285cf8;
    transform: scale(1.2);
}

.about-section p {
    width: 50%;
    background-color: #285cf8;
    color: white;
    padding: 20px;
    border-radius: 18px 0px 18px 0px;
    transition: 1s ease-in-out;
}

.about-section p:hover {
    background-color: white;
    box-shadow: 0px 0px 20px 0px #285cf8;
    color: #285cf8;
}

.b-arrow{
    width: 200px;
    transform: rotate(180deg);
}

.f-arrow{
    width: 200px;
}


/* About Section ends */

/* Skills Section starts */
.skills {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.skills-section {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    flex-direction: row;
    align-content: flex-start;
    background: url('/assets/images/skill-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.skills-section i {
    font-size: 1.5rem;
    color: #285cf8;
}

.skills-section p {
    font-size: 20px;
    margin: 6px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    transition: 0.2s ease-in-out;
    border: solid transparent;
    background-color: white;
    font-weight: 500;
}

.skills-section p:hover {
    transform: scale(1.2);
    cursor: pointer;
    border: solid #285cf8;
}

.message{
    color: #557ef9;
    font-size: 30px;
    position: relative;
    top: -100px;
}

/* Skills Section ends */

/* Education Section starts */
.education {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.education-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    height: 800px;
    background: url('/assets/images/ed-bg.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.education-card {
    display: flex;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #777;
    backdrop-filter: blur(100px);
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 10px;
    transition: 0.4s ease;
}

.education-card:hover {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%);
    color: white;
    transform: translateY(-4px);
}

.education-card img {
    border-radius: 18px;
    width: 50%;
    border-radius: 18px;
}

.education-card .information {
    margin: 8px;
}

.information p{
    line-height: 2rem;
}


/* Education Section ends */

/* Projects Section starts */
.projects {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.projectcard {
    height: 400px;
    width: 400px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    background-blend-mode: overlay;
    margin: 10px;
   flex-wrap: wrap;
}

.projectcard:hover {
    background-color: none;
    color: transparent;
    background-blend-mode: normal;
}

.projectcard p {
    padding: 20px;
}

.projectcard a {
    font-size: 20px;
    text-decoration: none;
    padding: 16px;
    border-radius: 18px;
    color: black;
    transition: 1s ease-in-out;
    background-color: #285cf8;
    color: white;
}

.projectcard a:hover {

    background-color: white;
    box-shadow: 0px 0px 20px 0px #285cf8;
    color: #285cf8;
}


.projectcard .button {
    margin-top: 20px;
}

/* Project Section ends */

/* Contact Section starts */

.contact {
    letter-spacing: 3px;
    margin: 20px;
    min-height: 60vh;
}

.contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.contact-section .sectionA{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.contact-section img{
    width: 50%;
}

.contact-section .sectionB{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact .sectionB .icons a {
    font-size: 3rem;
    color: #285cf8;
    font-weight: lighter;
}

.contact .sectionB .icons a:hover {
    color: black;
} 

/* Contact Section ends */

/* CSS for For Responsive Screen */
@media screen and (max-width:1130px) {
    .button-box {
        display: flex;
        justify-content: space-around;
        align-items:flex-start;
        flex-direction: column-reverse;
        width: auto;
    }
}

/* Mobile View  */
@media screen and (max-width:768px) {
    * {
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* Home Mobile CSS */
    .home {
        height: auto;
        flex-direction: column-reverse;
        /* display: none; */
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 30px;
    }

    .info #element {
        font-size: 30px;
    }

    .typed-cursor {
        font-size: 0px;
    }

    .home .hero img {
        width: 100%;
    }

    .button-box {
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column-reverse;
        width: auto;
    }
    
    .button-box .button{
        margin: 20px;
    }

    /* About Mobile CSS */
    .about {
        height: auto;
    }

    .about-section p {
        width: 100%;
    }

    .b-arrow{
        width: 200px;
        transform: rotate(270deg);
    }
    
    .f-arrow{
        width: 200px;
        transform: rotate(90deg);
    }

    /* Skills Mobile CSS */
    .skills-section .card {
        margin: 8px;
        padding: 10px;
        width: 90%;
        height: auto;
        box-shadow: 2px 2px 2px #777;
        border-radius: 18px;
    }

    /* Education Mobile CSS */

    .education-section {
        height: auto;
        align-items: center;
        background: none;
    }

    .education-card{
        width: 100%;
    }
    .education-card img {
        border-radius: 18px;
        width: 100%;
    }

    /* Project Mobile CSS */
    .projects-section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
}

    .projectcard {
        width: 100%;
    }

    .frame-container {
        padding-top: 100%;
        /* Adjust aspect ratio or any other styles as needed */
    }

    /* Contact Mobile CSS */
    .contact {
        height: auto;
    }

    .contact-section img{
        width: 100%;
    }

    .contact-section .sectionB{
        flex-direction: column-reverse;
    }

}