@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

::selection{
    background-color: rgb(242, 191, 253);
}

body {
    font-family: "Noto Sans", serif;
    margin: 0 auto;
    font-weight: 400;
}
  
  

/* Preloader starts */
#preloader {
    background: white url(/assets/images/leadership-animate.svg) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0px;
}

/* Preloader ends */

/* Navigation bar starts */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0px;
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: white;
    z-index: 200;
    border-bottom: solid #285cf8;
}

/* Scroll Watcher */
.scroll-watcher {
    height: 8px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* background-color: #ff1de5; */
    background-color: #7697fa;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }

}


nav .logo a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
}

nav .logo a img {
    width: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.2rem;
    padding: 4px 22px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    background-color: #285cf8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #171717;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.menu {
    display: none;
}

.curtain-menu {
    font-size: 20px;
    cursor: pointer;
}


/* Navigation bar ends */

/* Footer Section starts */
.footer {
    background-color: #263238;
    color: white;
    padding: 50px 100px;
}

.footer-section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 100px;
}

.footer-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright {
    width: 50%;
}

.footmessage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 50%;
}
/* Footer Section ends */

/* Scroll Bar CSS */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #285cf8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #285cf8;
}


/* CSS for Go to Top Button Starts */
#goToTopBtn {
    display: none;
    /* Initially hide the button */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    /* Make sure it's above other content */
    background-color: #007bff;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2rem;
}

#goToTopBtn:hover {
    background-color: #007bff;
    /* Button background color on hover */
}

#goToTopBtn span {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 58px;
    height: 58px;
    z-index: -4;
    background: inherit;
    border-radius: inherit;
    opacity: 0.8;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * (var(--i)));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* CSS for Go to Top Button Ends */

/* Mobile View  */
@media screen and (max-width:1118px) {

    /* Preloader mobile css */
    #preloader {
        background: white url(/assets/images/hand-coding-animate.svg) no-repeat center center;
        background-size: 100%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin: 0px;
        width: 100%;
        top: 0px;
        position: fixed;
        background-color: white;
        z-index: 200;
        border-bottom: solid #285cf8;
        flex-direction: row;
    }

    /* Nav Mobile CSS */
    .nav-links {
        /* justify-content: center;
        align-items: center; */
        display: none;
    }


    .nav-links a {
        color: grey;
        font-weight: bold;
        font-size: 15px;
        padding: 4px 22px;
        transition: 0.5s ease-in-out;
    }

    .nav-links a:hover {
        background-color: black;
        color: whitesmoke;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .menu {
        display: block;
    }


    /* Footer Section starts */
    .footer {
        flex-direction: column;
        padding: 50px 30px;
    }
    /* Footer Section ends */
}