.cover{
    background: url('/assets/images/blog-cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    padding: 40px;
    background-color: #22262900;
    margin: 40px;
    color: white;
    font-size: 3rem;
    backdrop-filter: blur(20px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
}

/* Blog Section starts */
.blog {
    letter-spacing: 3px;
    margin: 20px;
    height: auto;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-transform: uppercase;
    color: #285cf8;
}

.blog-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.blogcard {
    height: 300px;
    /* width: 25%; */
    /* width: 100%; */
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    background-blend-mode: overlay;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
}

.blogcard:hover {
    background-color: none;
    color: transparent;
    background-blend-mode: normal;
    transform: translateY(-10px); /* Adjust the value based on how much you want the image to move up */
}

/* Blog Section ends */



/* Mobile View  */
@media screen and (max-width:768px) {
    * {
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* Project Mobile CSS */
    .blogcard {
        width: 90%;
    }


}
